<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89491233718-2mt0l55esaok05066u860dedi473q5g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89491233718-2mt0l55esaok05066u860dedi473q5g8</string>
	<key>API_KEY</key>
	<string>AIzaSyCGmnkBV5vxsjhWCH0S4c2mtQeQMhKud8k</string>
	<key>GCM_SENDER_ID</key>
	<string>89491233718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.grandmobile</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationgrandlogistics</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationgrandlogistics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89491233718:ios:8ecd8ff78cd40f45e33f17</string>
</dict>
</plist>